
@{
    ViewData["Title"] = "Add New Student";
}

@if (ViewData["Added"] == null)
{
<div class="text-center">
    <h1>Add New Student</h1>
    <div class="form-group">
        <form method="post">
            <label>Full Name</label>
            <input class="form-control" type="text" name="full-name" />
            <br />

            <label>Date Of Birth</label>
            <input class="form-control" type="text" name="date-of-birth" />
            <br />

            <label>Email Address</label>
            <input class="form-control" type="email" name="email" />
            <br />

            <label>Phone</label>
            <input class="form-control" type="text" name="phone-number" />
            <br />

            <input class ="btn-outline-primary" type="submit" value="Add Student" />
        </form>
    </div>
</div>
}
            else
            {
                <div class="alert alert-success">
                    @ViewData["Added"]
                </div>
            }

