@model Student
@{
    ViewData["Title"] = "AddWithBinding";
}

@if (ViewData["Message"] == null)
{
    <h1>Add Student</h1>

    <div class="form-group">
        <form method="post">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName"></span>
            <br />

            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth"></span>
            <br />

            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
            <br />

            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone"></span>
            <br />

            <input class="btn-outline-primary" type="submit" value="Add Student" />

        </form>
    </div>
}
else
{
    <div class="alert alert-success">
        <h2>@ViewData["Message"]</h2>
    </div>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
} 